.mb-30{
	margin-bottom: 30px;
}

.portfolio-single.mb-30 img {
    width: 100%;
}

.portfolio-menu button{
	background-color: black;
border: 0;
color: white;
padding: 9px 25px;
margin-top: 5px;
text-transform: uppercase;
}

.portfolio-menu button.active{
	background-color: red;
